# Ignore folders
Migration
bin
obj
Properties

# Ignore user-specific files
.vs/
.idea/
.vscode/

# Ignore log files
*.log

# Ignore macOS and Windows system files
.DS_Store
Thumbs.db

# Ignore local environment settings
*.json

# Ignore build output files (e.g., for deployment)
*.zip

# Ignore other sensitive files
*.env
